
body{
    background: linear-gradient(to right,rgb(100, 179, 167),rgb(43, 43, 209));

}
.maindv{

    height: 400px;
    width: 300px;
    border: 1px ;
    text-align: center;
    padding: 20px;
   margin-left: 550px;
   margin-top: 100px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
   border-radius: 30px;
   background-color: azure;
}
.inptbx{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid ;
}
#btn{
    width: 255px;
height: 50px;
background: linear-gradient(to right,rgb(100, 179, 167),rgb(43, 43, 209));
border: 0px;
color: white;
font-size:large;
border-radius: 30px;
}
.spn{
    color: red;
}